.container {
  padding: 20px;
  background-color: #f7f7f7;

  .serviceBox {
    padding: 20px;
    text-align: center;
    background-color: #fff;

    .icon {
      margin-bottom: 10px;
      background-color: var(--mui-palette-primary-main);
      color: #fff;
    }

    .description {
      margin-top: 10px;
    }
  }
}
