.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-image: linear-gradient(
    to right,
    #4caf50,
    #2196f3
  ); // Example gradient based on logo colors
  height: calc(100vh - 100px);
  .content {
    max-width: 600px;
    color: #fff;
    flex: 1;
  }

  .imageContainer {
    flex: 1;
    max-height: 100%;

    .image {
      max-width: 100%;
      object-fit: cover;
    }
  }
}
