.AppBar {
  background-color: var(--mui-palette-common-background) !important;
  z-index: 1400 !important;
  height: 60px;
  flex-direction: row !important;
  align-items: center;

  .toolbar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .links {
    gap: 10px;

    .link {
      position: relative;
      text-decoration: none;
      color: var(--mui-palette-primary-main);
      padding: 10px;
      border-radius: 2rem;

      &:hover {
        background-color: var(--mui-palette-primary-main);
        color: var(--mui-palette-primary-contrastText);
      }

      .star {
        position: absolute;
        top: 0px;
        color: var(--mui-palette-warning-dark);
        font-size: 0.75em;
        animation: blink 3s infinite;
      }
    }
  }

  .rightSideBox {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
